/*_____________________________________ GLOBAL ___________________________________________*/

html{
	font-size: 62.5%;
}

body{
	font-family: 'Mitr', sans-serif;	
    font-size:1.7rem;
}

h2, h3, h4, h5, label{
	text-transform:uppercase;	
}*/

h2{
	font-size: 4rem;
	letter-spacing: 0.6rem;
	color:#231e20;	
}

h3{
	font-size: 3rem;
	letter-spacing: 0.595rem;
}

h4{
	font-size: 2.5rem;
	letter-spacing: 0.583rem;
	color: #f1ba4d;
}

h5{
	font-size: 2rem;
	letter-spacing: 0.7rem;
	color: #231e20;
}

h6{
	font-size: 1.8rem;
	letter-spacing: 0.5rem;
	color: #231e20;
}
label{
	font-size: 1.5rem;
	letter-spacing: 0.5rem;
	text-transform:uppercase;
}

.fas, .far{
	color:#f1ba4d;
}
.fas:hover, .far:hover{
	color:#231e20;
}

.success , .fail, .admin-success{
	background-color: rgba(255, 255, 255,0.4);
	border-radius: 0.5rem;	
}

.success{
	color:#1f5d19;
	text-transform:uppercase;
}
.fail{
	color:#B22222;
}

.admin-success{
	color:#1f5d19;
	background-color: rgba(22, 110, 22,0.3);
	text-align: center;
}

#container_actu p,#container_club p, #container_club li, #container_club th, #container_club td,#container_team p{
	font-family:monospace;
}

/*_____________________________________ FIN GLOBAL ___________________________________________*/


/*_____________________________________ HEADER ___________________________________________*/


header{	
	background-color: #231e20;
	display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoPirates{
	width:13rem;
}

.menu ul{
	display:flex;
	list-style-type: none;	
}

.menu>ul>li>a{
	text-decoration: none;
	color: white;
	letter-spacing: 0.583rem;
	padding:1.5rem;
	border:0.05rem solid #231e20;
}

.menu>ul>li:hover .sous_menu>ul{
    display: flex;  
}
.menu>ul>li>a:hover{
	color:#f1ba4d;	
}

.sous_menu ul{
	flex-flow: column wrap;
	position: absolute;
	background:#231e20;
	z-index:1;
	border-radius:0.5rem;
	list-style-type: none;
	letter-spacing: 0.583rem;
	padding:1.5rem;
	display:none;
	min-height: 12rem;
	padding-top:2rem;
}

.sous_menu a{
	text-decoration: none;
	color:white;
	font-size: 1.3rem;
}

.sous_menu a:hover{
	color:#f1ba4d;
}

#compte, #deco{
	color:#f1ba4d;
}

#compte:hover , #deco:hover{
	color:#da3730;
	transition: all 1s ease;
	border:0.1rem solid #332e30;
	border-radius:0.5rem;
}

#admin{
	color:#da3730;
}

/*_____________________________________ FIN HEADER ___________________________________________*/

/*_______________________________________  HOME  ___________________________________________*/


#carousel_item_1 h5{
	border-radius:0.5rem;
	background-color: rgba(255, 255, 255,0.06);	
}

#carousel_item_3 h5{
	border-radius:0.5rem;
	background-color: rgba(255, 255, 255,0.6);
}

#carousel_item_2 a, #carousel_item_3 a{
	color:#231e20;
	text-decoration: none;
	background-color:#f1ba4d ;
	border-radius:0.5rem;
}

#carousel_item_2 a{
	padding: 1.3rem;
	font-size:1.3rem;
}

#carousel_item_3 a{
	padding: 1.5rem;
	font-size:1.5rem;	
}

#carousel_item_2  a:hover, #carousel_item_3  a:hover{
	color:#f1ba4d;
	background-color: #231e20;
}

#prochains_matchs{
	background-color: #231e20;
	text-align:center;
}

#prochains_matchs h6{
	letter-spacing: 0.583rem;
	color:#f1ba4d;
	border: 0.2rem solid #f1ba4d ;
	padding:2rem;
	border-radius:0.5rem;
	margin: 0 3rem 2rem 3rem;
}

#prochains_matchs strong{
	color: #e1e1de;
	font-size:3rem;
}

#prochains_matchs span{
	color: #5a5a57;
	font-size:2rem;
	padding:0 7.5rem 5rem 7.5rem;
	display:inline-block;
}
#prochains_matchs p{
	color: #5a5a57;
}

#savoir_plus{
	color: #f1ba4d;
	text-decoration: none;
}

#savoir_plus:hover{
	color:#da3730;
	transition: all 1s ease;
}

#buttons_home{
	background-color: #231e20;
	justify-content: space-around;
	display: flex;
	padding:2rem;
}

#buttons_home a{
	color:white;
	letter-spacing: 0.583rem;
	text-decoration: none;
	border:0.1rem solid #332e30;
	border-radius:0.5rem;
	padding:1.5rem;
}

#buttons_home a:hover{
	color:#da3730;
	transition: all 1s ease;
}

#logo{
	margin:2rem 2rem 5rem 2rem;
}


/*_______________________________________  FIN HOME  ___________________________________________*/

/*_______________________________________  CREER UN COMPTE  _________________________________________*/

.form-check-input-newsletter{
	margin-left: -48rem;
	margin-top: 1rem;
}

/*_______________________________________  FIN CREER UN COMPTE  _________________________________________*/

/*_______________________________________  PAGE INFO MATCHS  _________________________________________*/

#score_titre, #score{
	border: 1px solid #404040;
	border-radius: 0.5rem;
}

#standing_titre, #stand{
	border-bottom: 0.2rem solid #f1ba4d ;
	color: #231e20;	
}

#standing_titre, #score_titre{
	font-size: 2.1rem;
}

#standing_titre, #stand, #score_titre, #score{
	display:flex;
	justify-content: space-around;
	list-style-type: none;
	align-items: center;	
}

#score_titre{
	color: #f1ba4d;
}

#score{
	color: #5a5a57;	
}

#booking, #scores{
	background-color:#231e20;
}

#seats, #choice_matchs{
	font-size: 1.5rem;
	border-radius: 0.5rem;
}

#booking label, #booking h5, #resultat_match h5{
	margin-top: 2rem;
	color:#f1ba4d;
}

#btn_booking{
	margin-top: 2rem;
	margin-bottom: 5rem;
	border-radius: 0.5rem;
	background-color: #f1ba4d ;
	color: #231e20;
	padding: 1rem;
	font-size:1.5rem;
}

#scores{
	padding: 5rem 10rem 5rem 10rem;
}

#resultat_match{
	background-color: #6d6d6c;
}

#resultats{
	background-image: url(../images/match/pirates_match_results.jpg);
	background-size:cover;
	background-attachment: fixed;
	height: 30rem;
	text-align: center;
	letter-spacing: 0.583rem;	
}

#resultats span{
	font-size: 5rem;
	border: 0.5rem solid #f1ba4d;
	border-radius: 0.6rem;
	background-color: rgba(255, 255, 255,0.3);
	color:#231e20;
}

#standing{
	padding: 5rem;
	background-image: url(../images/club/pirates_club5.jpg);
}

/*_______________________________________  FIN PAGE INFO MATCHS  _________________________________________*/

/*__________________________________________  PAGE CLUB  ____________________________________________*/

#container_club .mx-auto{
	width:60%; 
}

#container_club .card-body{
	height:27rem;
	overflow:scroll;
}

#palmares, #coach{
	background-image: url(../images/club/pirates_club5.jpg);
	background-size: contain;
	background-attachment: fixed;
}

#palmares ul{
	list-style-type: none; 
	padding-left:0.1rem;
}

#chiffre_cle{
	background-image: url(../images/club/pirates_club3.jpg);
	background-size:cover;
	background-attachment: fixed;
	height: 60rem;
	text-align: center;
}

#chiffre_cle span{
	font-size: 6rem;
	border: 0.8rem solid #f1ba4d;
	border-radius: 0.4rem;
	padding:1.5rem;
	color:white;
}

#chiffre_cle h5{
	margin-top: 5rem;
	color: white;

}	
#coach, #planning{
	padding:2rem;
	text-align:center;
}

#planning .fas{
	font-size: 2rem;
	color:#231e20;
	color:white;
}

#planning .fas:hover{
	transition: 1s;
	color:#da3730;
}

/*__________________________________________  FIN PAGE CLUB  ____________________________________________*/

/*__________________________________________  PAGE TEAM  ____________________________________________*/


#container_team{
	color:white;
	text-align: center;
	background-image: url(../images/team/pirates_team_fond.jpg);
	background-size:contain;
	background-attachment: fixed;
}

#container_team p{
	text-align:center;
	margin: 2rem 12rem 3rem 12rem;
}

#container_team img{
	width:70%; 
	border-radius: 1rem;
	border: 4mm ridge rgba(80, 80, 79, .6);
}

/*__________________________________________  FIN PAGE TEAM  ____________________________________________*/

/*___________________________________________  PAGE MEDIA  ______________________________________________*/
/*********************CHAT****************************/
#container_media span{
	font-family: monospace;
	font-size: 1.5rem;
}

.message{
	background-color: #231e20;
	border-radius: 1rem;
	color: #f1ba4d;
	
}
/*********************FINCHAT****************************/
/*__________________________________________  FIN PAGE MEDIA  ____________________________________________*/

/*__________________________________________  PAGE CONTACT  ____________________________________________*/

#nous_trouver, #nous_rejoindre{
	text-align: center;
}

#nous_rejoindre{
	background-color: #231e20;
	color: white;
}

#nous_rejoindre h4{
	color: white;
}
#nous_rejoindre .far{
	font-size:8rem;
	margin-bottom:5rem;
}

#nous_rejoindre div:first-child>a{
	color:#f1ba4d;
}

#nous_rejoindre div:first-child>a:hover{
	transition:1s ease;
	color:white;
}

#nous_rejoindre a{
	text-decoration: none;
	color: #9a9a9a;
}

#nous_rejoindre div:first-child>ul>li>a:hover{
	transition:1s ease;
	color:white;
	font-size: 1.8rem;
}

#nous_rejoindre ul{
	margin-top:7rem;
	list-style-type: none;
	margin-left:0;
	padding-left:0;
}

#nous_contacter{
	min-height:50rem;
}

#nous_contacter a{
	text-decoration: none;
	color:#537556;
}

#nous_contacter a:hover{
	color:#f1ba4d;
}

/*__________________________________________  FIN PAGE CONTACT  ____________________________________________*/
/******************************SHOP/HOME********************************/
/*#container_home_shop a{
	text-decoration: none;
	color:#f1ba4d;
}
#container_home_shop a:hover{
	color:#da3730;
}

#title_shop h5, #container_admin h5 {
	padding: 3rem;
}

#title_shop .fas{
	color:#f1ba4d;
}*/



/**************************** FIN SHOP/HOME*****************************/

/*__________________________________________  PAGE ADMIN ____________________________________________*/

.admin_newsletter , .admin_book , .admin_actu, .admin_profil, .admin_match{
	display:flex;
	justify-content: space-between;
	border-bottom: 0.2rem solid #f1ba4d ;
	list-style-type: none;
	align-items: center;
	color: #231e20;
}

#btn_sub_newsletter , #btn_book, #btn_create_actu, #btn_create_admin, #btn_create_match{
	text-decoration: none;
	border-radius: 0.5rem;
	background-color: #f1ba4d ;
	color: #231e20;
	padding: 1rem;
	font-size: 1.3rem;
}

.menu_admin a{
	text-decoration: none;
	color: #231e20;
	letter-spacing: 0.583rem;
	padding:1.5rem;
}

.menu_admin a:hover{
	color: #537556;
	transition: all 1s ease;
}

#container_admin h5,#container_admin nav{
	text-align:center;
	background-color: #f1ba4d;
	
}
#container_admin h5{
	height: 10rem;
	padding-top: 4rem;
}
/*__________________________________________  FIN PAGE ADMIN  ____________________________________________*/

/*____________________________________________  FOOTER  _______________________________________________*/

footer{
	text-align:center;
}

#foot{
	background-color: #231e20;
	display: flex;
    align-items: center;
    min-height: 40rem;
}

footer div{
	box-sizing: border-box;
	width:100%;
}

footer fieldset{
	border:0.1rem solid #332e30;
	border-radius: 0.5rem;
	margin-left:2rem;
}

footer input[type=email]{
  width: 30rem;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  background-color: #231e20;
  border-radius:0.5rem;
  border:0.1rem solid #332e30;
  color: white;
}

footer input[type=submit]{
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  background-color: #f1ba4d;
  border-radius:0.5rem;
  border:0.1rem solid black;
  color: black;
}

footer legend{
	letter-spacing: 0.4rem;
	font-size: 1.6rem;
	color:white;
}

.fab{
	color:white;
	font-size: 4rem;
	margin-left:1.2rem;
}

.fab:hover{
	color:#f1ba4d;
	transition: all 1s ease;
}

.logoPirates2{

	width:30rem;
}	

/*____________________________________________  FIN FOOTER  _______________________________________________*/


